<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Benjam Alander Website</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="../static/index.js"></script>
  </head>
  <body>
    <header>
      <div class="headerlinks">
        <div class="header-imgs">
          <a href="https://github.com/BenjamAlander">
            <img
              src="../static/github-mark-white.png"
              width="25"
              height="25"
              alt="Link to my github"
            />
          </a>
          <a href="https://www.linkedin.com/in/benjam-alander-36aa38198/">
            <img
              src="../static/linkedin-3-64.png"
              width="25"
              height="25"
              alt="Linkedin"
            />
          </a>
        </div>
        <div class="headertexts">
          <h4>alander.benjam@gmail.com</h4>
          <a href="">
            <img
              src="../static/pngwing.com (7).png"
              height="10px"
              length="10px"
              alt="copy"
            />
          </a>
        </div>
      </div>
    </header>
    <section id="Introduction">
      <div class="Introduction"><p>Hi, my name is</p></div>
    </section>
    <section id="introdataengineer">
      <div class="introdataengineer">
        <h1>Benjam Alander</h1>
      </div>
    </section>
    <section>
      <div class="introduction2">
        <p>I am curretly a</p>
      </div>
    </section>

    <section id="dataengineer">
      <div class="dataengineer">
        <h1>Data/AI Engineering student</h1>
      </div>
    </section>

    <section id="technical-skills">
      <h2>Technical Skills</h2>
      <ul>
        <li>Python</li>
        <li>Git</li>
        <li>MySQL</li>
        <li>MariaDB</li>
        <li>Docker</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
    </section>
    <section id="about me">
      <div class="about me">
        <h2>About me</h2>
      </div>
    </section>
  </body>
</html>
