<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UFT-8" />

    <title>Web-portfolio</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="../static/index.js"></script>
  </head>
  <body>
    <header>
      <div id="header">
        <div class="headerlinks">
          <h2>Welcome, here's a link to my</h2>
          <a href="https://github.com/BenjamAlander">
            <img
              src="../static/GitHub_Logo_White.png"
              width="200"
              height="50"
              alt="Link to my github"
            />
          </a>
        </div>
      </div>
    </header>
  </body>
</html>
