/* Use a gradient background on the body */
body {
  background: linear-gradient(to right, #000000, #fdfdfd);
}

/* Style the header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(55, 173, 175, 0.2);
  padding: 20px;
}
header h1 {
  font-size: 3rem;
  margin: 0;
  color: white;
  text-shadow: 2px 2px rgb(148, 52, 52);
}
header nav {
  display: flex;
}
header nav a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}
header nav a:hover {
  color: #f5af19;
}

/* Style the main content area */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
main h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
main p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
main img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px #333;
}

/* Style the footer */
footer {
  background-color: rgba(0,0,0,0.2);
  color: white;
  padding: 10px;
  text-align: center;
}
footer p {
  margin: 0;
  font-size: 1.2rem;
}
