header {
    background-color: #fe5f50;
    height: 100%; 
    display: flex;
    align-items: center;
}
a:hover h4, a[href="alander.benjam@gmail.com"] h4 {
    color:rgb(10, 25, 47);
}

.headerlinks {
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
}
.header-imgs{
    display: flex;
    justify-content: flex-start;
    width: 50%; 
}
.header-imgs img {
    padding: 20px;
    margin: 0 10px;
}
.headertexts img {
    margin-right:30px;
    margin-top: 23px;
}

.headertexts {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    width: 50%;
}

a {
    cursor:pointer;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
}   

body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: #2e2a2a;
    font-family: 'Helvetica', sans-serif;
}
ul {
    color: white;
}
h2 {
    color: white;
}
a:hover img {
    filter: brightness(50%);  
}

.introdataengineer h1 {
    display: flex;
    text-align: center; 
    margin: px;
    font-size: 100px;
    color:rgba(255, 255, 255, 0.821)
    }

.dataengineer h1  {
    display: flex;
    text-align:center;
    margin: px;
    font-size: 80px;
    color:rgba(255, 255, 255, 0.488)
}


p {
   text-align: center;
   margin-bottom: -5px;
   margin-left: -465px;
    font-size: 20px;
    color:#ffffff; 
}
h4 {
    margin-right: 5px;
}
ul {
    margin-left: 20px;
}
h2 {
    margin-left: 20px;
}
h1 {
    font-size:50px;
}
.Introduction p {
    margin-bottom: -70px;
    color:#fe5f50dd
}
.introduction2 p {
    margin-bottom: -70px;
    color:#fe5f50dd
}